Library/*
*.csproj
obj/*
*.sln
ParticleSystems.userprefs
*.swp
Temp/*
Assets/Scripts/Scripts.userprefs
Assets/Scripts/Scripts/Scripts.mdproj
*.app
Assets/Scripts/Scripts.sln.meta
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset
Assets/Scripts/Scripts.userprefs.meta
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset
particle-simulation-unity.userprefs
ProjectSettings/ProjectVersion.txt
